.navbar {
  position: fixed;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.9rem;
  transition-timing-function: ease-in;
  transition: all 0.25s;
}

.navbar__netflix-logo {
  width: 8.5rem;
  object-fit: contain;
}

.navbar__netflix-avatar {
  width: 2.6rem;
  object-fit: contain;
}

.navbarDark {
  background-color: #111;
}
